
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
}

/* shared style */
.body-color{
    background-color: #f2f5f7;
}
.text-center{
    text-align: center;
}
.text-primary{
    color:#4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
.secondary-bg{
    background-color: #e5e4ec;
    
}
/* header */
.header{
    background-image: url('../Assets/Hero-bg.png');
    width: 100%;
    height: 698px;
   
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
nav h3{
    font-weight: 900;
    font-size: 34px;
}
nav li{
     list-style: none;
}
/* banner style */
.banner{
    text-align: center;
    margin: 158px 270px 152px;
   
}
div h1{
    font-weight:bold;
    font-size: 60px;
    color: #252432;
}
/* main section style */
.action{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 90px;

}
.section-action{
    width: 517px;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
section p{
    font-size: 24px;
    font-weight:400;
    color: #252432;
}
.action-pic{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
/* section users style */
.users{
    border-radius: 24px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 140px;
    /* height: 306px; */
    text-align:center;
    padding: 30px 20px;
    background-color: #deeaf3;
    
}
.users-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 0px;
   
}
.users-items{
    display: flex;
    justify-content: space-around;

}
.item-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0;
}
.item-description{
    margin-top: 0;
    font-size: 20px;
    font-weight: 400px;
    color: #4e4e4e;
}
/* users-comment style */
.users-comment{
    width: 1140px;
    margin: 0 auto;
    margin-top: 140px;
}
.comment-container{
    display: flex;
    justify-content: space-around;
    /* width: 1140px; */
    /* margin: 0 auto; */
    
}
.comment-title{
    font-size: 24px;
    font-weight: 600px;
}
.comment-description{
    font-size: 16px;
    font-weight: 400px;
}
.comments{
    margin-right: 50px;
    background-color: #f9ffff;
    border-radius: 14px;
    text-align: left;
    padding: 24px;

}
div ul li{
    list-style: none;
    font-size: 16px;
}
.display{
     display: flex;
     /* justify-content:space-between; */
     padding-left: 0px;
}
.icon-picture{
    border-radius: 100%;
    margin-right: 10px;
    
}







